@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /*  background: #9398b8; */
    font-family: 'Poppins';
}
.upper {
    background-color: #1f2235;

}
.hide {
    display: none;

}
.bgm {
    background: #1f2235;
}
.sirgama {
    height: 70px;
    width: auto;
}
a.tite {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}


.listitemssp li a {
    margin-right: 30px;
    color: rgb(255, 255, 255);
}
/* .intro {
    margin-top: 50px;
} */


.intro h1, h3, p {
    color: white;
}
.intro h1 {
    color: #cd07b2;
    font-weight: bold;
}
.prf {
    height: auto;
    width: auto;
}
.abouts {
    background: #ffffff !important;
}
h2 {
    color: white;
}
