@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Poppins';
}
.upper {
    height: 100vh;
    width: 100%;
    background-color: #1f2235;
}
.upper2 {
    background-color: #1f2235;
}
.middle {
    height: 140vh;
    width: 100%;
    background: #fdfff4;
    color: black;
}

.hide {
    display: none;
}

.sirgama {
    height: 70px;
    width: auto;
}
a.tite {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.listitemssp li a {
    margin-right: 30px;
    color: rgb(255, 255, 255);
}

.intro h1, h3, p {
    color: white;
}
.intro h1 {
    color: #cd07b2;
    font-weight: bold;
}
.prf {
    height: auto;
    width: auto;
}

h2 {
    color: white;
}
.middle h3 {
    color: black;
}
.cardi {
    max-width: 15rem;
}
.below  {
    height: auto;
    width: 100%;
    background: #1f2235;
}
.prt {
    color: black;
    font-weight: bold;

}
.card {
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.listedim {
    height: 80vh;
}
.card p {
    color: black;
}
.bager p, h1, h2, h3 {
    color: black;
}
.burger, .irance, .qtest {
   border-radius: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.contacte {
    background: #1f2235;
    margin-top: 20px;
}