* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;

}
.mainnav {
    height: 20vh;
}
.sirgama {
    height: 80px;
    width: auto;
}
.nav-link {
    color: rgb(238, 238, 241);
    font-weight: bold;
    
    
}
.listitemssp li a {
    margin-right: 30px;
    color: rgb(0, 0, 255);
}
.upper {
    
}