@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #21243a; */
    font-family: 'Poppins';
}
.upper {
    
    height: 100vh;
    width: 100%;
    background-color: #1f2235;
}
.upper2 {
    background-color: #1f2235;
}
.middle {
    height: 120vh;
    width: 100%;
    background: #fdfff4;
    color: black;

}

.hide {
    display: none;

}

.sirgama {
    height: 70px;
    width: auto;
}
a.tite {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}


.listitemssp li a {
    margin-right: 30px;
    color: rgb(255, 255, 255);
}

.intro h1, h3, p {
    color: white;
}
.intro h1 {
    color: #cd07b2;
    font-weight: bold;
}
.prf {
    height: auto;
    width: auto;
}
/* .prf2 {
    max-height: 70%;
    max-width: 50%;
} */
h2 {
    color: white;
}
.middle h3 {
    color: black;
}
.cardi {
    max-width: 15rem;
}
.below  {
    height: auto;
    width: 100%;
    background: #1f2235;
}
.prt {
    color: black;
    font-weight: bold;

}